@model PRNFinalProject.Models.Movie

@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

<div class="container">
    <div class="row">
        <!-- Image -->
        <div class="col-12 col-lg-5">
            <div class="card bg-light mb-3">
                <div class="card-body">
                    <a href="" data-toggle="modal" data-target="#productModal">
                        <img class="img-fluid" src="~/img/@Html.DisplayFor(model=> model.Image)" />
                    </a>
                </div>
            </div>
        </div>

        <!-- Add to cart -->
        <div class="col-12 col-lg-7 add_to_cart_block">
            <div class="card bg-light mb-3">
                <div class="row">
                    <!-- Description -->
                    <div class="col-12">
                        <div class="card border-light mb-3">
                            <div class="card-header bg-primary text-white text-uppercase"><i class="fa fa-comment"></i>Detail</div>
                            <div style="padding: 20px;">
                                <h4 class="card-title">
                                    <a href="Detail.html" title="View Product">
                                        @Html.DisplayFor(model => model.Title)
                                    </a>
                                </h4>
                                <p class="card-text">Thể Loại: @Html.DisplayFor(model => model.Genre.Description)</p>
                                <p class="card-text">Điểm Đánh giá: @ViewData["TotalPoits"]</p>
                                <p class="card-text">Mô tả: @Html.DisplayFor(model => model.Description)</p>
                                <div class="row">
                                    @if (HttpContextAccessor.HttpContext.Session.GetString("account") != null)
                                    {
                                        <div class="col-4">
                                            <a href="#review" class="btn btn-success btn-block">Đánh giá</a>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="col-4">
                                            <a asp-area="" asp-controller="Security" asp-action="Login" class="btn btn-success btn-block">Đánh giá</a>
                                        </div>
                                    }

                                    <div class="col-8">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="card" id="review">
        @if (HttpContextAccessor.HttpContext.Session.GetString("account") != null)
        {
            @if (ViewBag.comment == null && ViewBag.Admin != 1)
            {
                <div class="card-header bg-primary text-white text-uppercase"><i class="fa fa-comment"></i>Commnet</div>
                <div class="coment-bottom bg-white p-2 px-4">
                    <form action="/Detail/AddComment" method="post">
                        <input type="hidden" name="Id" value="@Model.MovieId">
                        <div class="row"><div class="mr-2">Đánh giá Phim:</div><input type="number" name="points" class="mr-4" placeholder="Điểm"></div>
                        <div class="d-flex flex-row add-comment-section mt-4 mb-4">
                            <img class="img-fluid img-responsive rounded-circle mr-2" src="https://i.imgur.com/qdiP4DB.jpg" width="38">
                            <input name="comment" type="text" class="form-control mr-3" placeholder="Add comment">
                            <button class="btn btn-primary" type="submit">Comment</button>
                        </div>
                    </form>
                </div>
            }
        }
        <div class="card-header bg-primary text-white text-uppercase"><i class="fa fa-comment"></i>50 Commnet</div>
        <div class="card-body">
            @foreach (Rate r in ViewBag.Rates)
            {
                <div class="review">
                    <img class="img-fluid img-responsive rounded-circle mr-2" src="https://i.imgur.com/qdiP4DB.jpg" width="38">
                    <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                    <meta itemprop="datePublished" content="01-01-2016">@r.Person.Fullname @r.Time
                    <p class="blockquote">
                    <p class="mb-0">@r.Comment</p>
                    <a class="md-0" href="#">Edit</a>
                    <hr>
                </div>
            }
        </div>
    </div>
</div>